<p id="notice"><%= notice %></p>

<p>
  <strong>Contract:</strong>
  <%= @sc_event_run.sc_event.code.contract.id.to_s.rjust(8, "0") + ' : ' + @sc_event_run.sc_event.code.contract.title %>
  <% if @sc_event_run.sc_event.code.contract.description != "" %>
    <%= " : " + @sc_event_run.sc_event.code.contract.description %>
  <% end %>
</p>

<p>
  <strong>Result:</strong>
</p>

<p>
  <% result = @sc_event_run.result.html_safe %>
  <%= result %>
</p>

