<%- model_class = ScEvent -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
      <th>Version</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sc_events.each do |sc_event| %>
      <tr>
        <td><%= sc_event.callback %></td>
        <td><%= sc_event.code.version %></td>
        <td>
          <%=  link_to "Trigger", controller: "sc_events", action: "trigger", sc_event_id: sc_event.id if ['Signed', 'Accepted'].include?(sc_event.code.state) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

